BasedOnStyle: WebKit # 风格基准

ColumnLimit: 100 # 每行的最大列数。

MaxEmptyLinesToKeep: 2 # 要保留的最大连续空行数。

AlignTrailingComments: true
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
BinPackParameters: BinPack
BinPackArguments: true
BreakBeforeBinaryOperators: None # 二进制运算符前是否换行。
PointerAlignment: Right

UseTab: Never # 是否使用制表符代替空格。
